
<%= render "my_stations"%>


<% @stations.each do |station| %>
              <div class="box"  style="margin-bottom: 0">
                  <div class="box-header dark-background">
                    <div class="title"><%= station.brand %></div>
                    <div class="actions">
                        <%=link_to station_path(station) do %>
                              <span class="btn btn-danger">View</span>
                              <%end%>
                    </div>
                  </div>
                  <div class="box-content">
                  <div class="station-image"><%= image_for(station)%></div>
                  <div class="station-data">

                  </div>
                </div>
                  <hr class="hr-drouble">
<%end%>
