
<%= render "my_stations"%>


<% @stations.each do |station| %>
              <div class="col-sm-12 box" style="margin-bottom: 0">
                  <div class="box-header blue-background">
                    <div class="title"><%= station.brand %></div>
                    <div class="actions">
                        <%=link_to station_path(station) do %>
                              <span class="btn btn-danger">View</span>
                              <%end%>
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                      </a>
                    </div>
                  </div>
                  <div class="box-content">
                      <img class="img-responsive" src="http://placehold.it/230x230&amp;text=Photo">
                    <%= station.business_name %>
                  </div>
                </div>
<%end%>
