@import 'flatty/theme-colors';
@import 'flatty/bootstrap/bootstrap';
@import 'flatty/plugins/plugins';
@import 'flatty/jquery/jquery_ui';
@import 'flatty/dark-theme';
.dash-tool {
  margin-bottom: 20px;
}
.station-image {
  display: inline-block;
  margin-right: 5%;
  width: 10%;
}
.station-data {
  float: right;
  margin-left: 0;
  width: 85%;
}
.station {
  height: 10%;
}
