@import 'flatty/theme-colors';
@import 'flatty/bootstrap/bootstrap';
@import 'flatty/plugins/plugins';
@import 'flatty/jquery/jquery_ui';
@import 'flatty/dark-theme';

.dash-tool {
  margin-bottom: 20px;
}

.station-image {display:inline-block;margin-right:10px; width:230px;}
.station-data {float:right;margin-left:10px;width: 1000px;background-color:red;} 
