
        <div class='navigation'>
          <div class='search'>
            <form action='search_results.html' method='get'>
              <div class='search-wrapper'>
                <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
                <button class='btn btn-link icon-search' name='button' type='submit'></button>
              </div>
            </form>
          </div>
          <ul class='nav nav-stacked'>
            <li class=''>
              <%= link_to supplier_dashboard_path do %>
                  <i class='icon-tasks'></i>
                  <span class = "text-error">Account# <%=current_supplier.account_number%></span>
              <% end %>
            </li>

          </ul>
        </div>
